#N
clk
rst
ext_irq

#S
vssd1
vccd1

#E
insn_adr\[\d+\]
insn_cyc
insn_stb
insn_sel\[\d+\]
insn_we
insn_dat_o\[\d+\]
insn_dat_i\[\d+\]
insn_ack
insn_stall
dmi_addr\[\d+\]
dmi_req
dmi_wr
dmi_dout\[\d+\]
dmi_ack
dmi_din\[\d+\]

#W
data_adr\[\d+\]
data_dat_o\[\d+\]
data_sel\[\d+\]
data_cyc
data_stb
data_we
data_dat_i\[\d+\]

data_ack
data_stall
